.messageRow {
  display: flex;
  flex-direction: row;
  padding: 0.3em;
  margin: 0;
}

.messageRow:hover {
  background-color: rgb(248, 248, 248);
}

.messageRow:hover .hidden {
  display: block;
}

.messageRowLeft {
  flex-basis: 2.8em;
  flex-shrink: 0;
}

.messageRowRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nameTimeRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.displayName {
  font-weight: 900;
  margin-right: 0.4em;
}

.timestamp:hover,
.displayName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.timestamp {
  font-size: 0.8em;
  color: rgb(97, 96, 97);
}

.hidden {
  display: none;
}

.error {
  color: rgb(189, 0, 0);
  font-weight: bold;
  font-size: 0.7em;
}
