.error {
  height: 100%;
  display: flex;
  justify-content: center;
}

.errorText {
  color: red;
  align-self: center;
}
/* a container with flex-direction column */
.mainContainer {
  -webkit-animation: fade 500ms; /* Safari 4+ */
  -moz-animation: fade 500ms; /* Fx 5+ */
  -o-animation: fade 500ms; /* Opera 12+ */
  animation: fade 500ms; /* IE 10+, Fx 29+ */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

/* an arbitrary container of fixed height */
.fixedContainerBottom {
  min-height: 0;
  height: auto;
}

.fixedContainerTop {
  min-height: 0;
  height: auto;
}

/* this is the flex container that will take the rest of the height */
.contentWrapper {
  display: flex;
  flex: 1;
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
  justify-content: flex-end;
}

/* the container for our overflowed content */
.overflowContainer {
  flex: 1;
  overflow: auto;
}

/* outerContainer height property must be different based on whether
component is rendering within a fixed width/height or within a flexbox/window */
.outerContainerFixed {
  height: 100%;
}

.outerContainerFlex {
  height: 100vh;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
