.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.emptyChat {
  padding-top: 2em;
  text-align: center;
  color: rgb(180, 180, 180);
  font-size: 0.9em;
}
