.lineBreakSection {
  background-color: white;
  padding: 0.5em 0;
}

.wrap {
  text-align: center;
  position: relative;
}
.links {
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.wrap:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid rgb(204, 204, 204);
  width: 100%;
  transform: translateY(-50%);
}

.pill {
  background-color: white;
  z-index: 2;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.5em 1em;
  box-shadow: 0 1px 0.05em 0 rgb(0, 0, 0, 0.08);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 1.6em;
}
