/* a container with flex-direction column */
.mainContainer {
  /* height: 400px; or position:absolute; height:100%; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* an arbitrary container of fixed height */
.fixedContainerBottom {
  height: 100px;
  padding: 20px;
  background-color: #0b5ab0;
  color: white;
}

/* an arbitrary container of fixed height */
.fixedContainerTop {
  height: 20px;
  padding: 20px;
  background-color: black;
  color: white;
}

/* this is the flex container that will take the rest of the height */
.contentWrapper {
  display: flex;
  flex: 1;
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
}

/* the container for our overflowed content */
.overflowContainer {
  flex: 1;
  overflow: auto;
}

/* the overflow content itself */
.overflowContent {
  color: black;
  background-color: #ddd;
  padding: 20px;
}
